<%= simple_form_for(@availability, local: true, html: { class: 'form-inline' }) do |f| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    </div>
  
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :type_id, collection: @types %>
  <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
  
<% end %>