<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @availability.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @availability.description %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', root_path %>
